@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-image: url('../img/login-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container{
    height: 100%;
    align-content: center;
}

.card{
    height: 300px;
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(0,0,0,0.5);
}

.h3 {
    text-align: center;
}

.form-group {
    text-align: center;
}

.input-group {
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
    justify-content: center;
    height: 40px;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}

.login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}